<header id="header">
  <div class="inner">
    <a href="{{ '/' | absolute_url }}" class="image avatar">
      <img src="{{ '/images/avatar.jpg' | relative_url }}" alt="Avatar" />
    </a>

    <h1><strong>Fushuai Jiang, PhD</strong></h1>

    <!-- navigation -->
    <nav>
      <a href="{{ '/index.html' | relative_url }}">Home</a> |
      <a href="{{ '/research.html' | relative_url }}">Research</a> |
      <a href="{{ '/publications.html' | relative_url }}">Publications</a> |
      <a href="{{ '/teaching.html' | relative_url }}">Teaching</a> |
      <a href="{{ '/CV.html' | relative_url }}">CV</a>
    </nav>
  </div>
</header>
